<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static '/css/projects.css'%}" />
  </head>
  <body>
    <div class="container">
      <div class="top-container">
        <span class="header">PROJECTS</span>
      <div class="main-container">
        <img class="project1" src="{% static '/images/instagram_clone.png'%}">
        <a href="https://github.com/takemyt1me/NEXT-HW/tree/master/Session1" class="project-name1">Instagram clone coding</a>
        <img class="project2" src="{% static '/images/toss_clone.png'%}">
        <a href="https://github.com/takemyt1me/NEXT-HW/tree/master/Session3" class="project-name2"> Toss clone coding</a>
      </div>
    </div>
  </body>
</html>