<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
  </head>
  <body>
    <div>
      <h2>Title</h2>
      <p>{{ post.title }} ({{created_at}})</p>
    </div>
    <div>
      <h2>Category</h2>
      <p>{{post.category}}</p>
    </div>
    <div>
      <h2>Content</h2>
      <p>{{ post.content }}</p>
    </div>
    <a href="{%	url 'home'	%}">Home</a>
  </body>
</html>
