/* 전체 wrapper 스타일 */
.wrap {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 상단 title 스타일 */
.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

/* content를 담을 박스 스타일 */
.content-box {
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: relative;
  left: 173px;
}

/* content 스타일 */
.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* button 스타일 */
.button {
  margin-top: 30px;
  text-align: center;
}

/* footer 스타일 */
footer {
  margin-top: auto; /* 추가 */
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

body {
  background-image: url("https://t1.daumcdn.net/cfile/tistory/99FB98375B0D54350C");
  background-size: cover;
  background-position: center;
}
